body {
    background-color: lightgrey;
    text-align: center;
}

.title{
    background-color: antiquewhite;
}

.description{
    background-color: antiquewhite;
}
.window{
    background-color: antiquewhite;
}

.log{
    background-color: antiquewhite;
}